# Sistem bağımlılıkları (Linux için):
# sudo apt-get update
# sudo apt-get install libdbus-1-dev libdbus-glib-1-dev python3-dbus
#
# Eğer pip ile dbus-python gerekirse:
# pip install dbus-python

kivy
garden
kivy-garden
kivy_garden.mapview
pymavlink
pygame
folium
pyserial